.aboutJuBanner {
    width: 100%;
    height: 500px;
    background-size: cover;
    background: url("../Images/dept/seminar.jpg") no-repeat fixed center;
}
.overLay{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-color: rgba(0,0,0,0.4);
}
.overlayContent{
    margin-top: 222px;
}