
.alumniTitle{
    text-transform: uppercase;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin-top: 15px;
    color: aliceblue;
}
.alumniDescription{
    padding: 3px 1% 3px 1%;
    font-size: 16px;
    font-family: Roboto, serif;
    font-weight: 400;
    color: rgba(242, 234, 234, 0.9);
    text-align: justify;
}
.alumniFullBanner{
    box-shadow: 0 0 2px rgb(48, 64, 87);
    margin:4%;
}
.alumniColumn{
    padding-top: 7% !important;

}
.alumniColumn .alumniDescription{
   
    margin: 0 5% 10% 5%;
    padding: 10% 7%;
}
.rowBackground{
    background-color:#e7e8ec; 
  
}

@media (max-width: 575px) {
    .carouselImgAlumni{
        width:100%;
        height:340px;
    }
    .whiteTitle{
        font-size: 10px;
        font-weight: 400;
    }
    
    .carouselItemContainerAlumni .carouselCaptionAlumni {
      bottom: 12px;  
    }
  
    .alumniDescriptionInside{
        font-size: 10px;
    }
  

}

