
.alumniTitle{
    text-transform: uppercase;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin-top: 15px;
    color: aliceblue;
}
.alumniDescription{
    text-align: start;
    padding: 3px 5% 3px 5%;
    font-size: 18px;
    font-family: Roboto, serif;
    font-weight: 400;
    color: rgba(242, 234, 234, 0.8);
}
.alumniFullBanner{
    box-shadow: 0 0 4px rgb(48, 64, 87);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.alumniColumn{
    background-color:rgb(3, 3, 56);
    padding-top: 7% !important;

}
.alumniColumn .alumniDescription{
    background-color: blueviolet;
    margin: 0 5% 10% 5%;
    padding: 10% 7%;
}


