@media (max-width: 1074px){
    .countdown-box {
        border-radius: 9px;
        margin: 5px;
        max-width: 20% !important;
        max-height: 70px !important;
        padding-top: 13px;
        box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.7);
        animation: colorChange 1s infinite;
    }
    .countTxt{
        color:#fff;
        font-family: Roboto, serif;
        font-weight: 400;
        font-size: 15px!important;
    }
    .legend {
        color:#fff;
        font-family: Montserrat, sans-serif, serif;
        font-weight: 400;
        font-size: 10px!important;
    }

}

@media (max-width: 771px) {
    .responsiveRegi{
        margin-top: 90px!important;
    }
    .boldTitle{
        font-size: 35px!important;
        font-weight: 400!important;
        padding-top: 20px;
    }

    .countTxt{
        color:#fff;
        font-family: Roboto, serif;
        font-weight: 400;
        font-size: 12px!important;
        padding: 0!important;
        margin: 0!important;
    }
    .legend {
        color:#fff;
        font-family: Montserrat, sans-serif, serif;
        font-weight: 400;
        font-size: 8px!important;
        padding: 0!important;
    }
    .deptInfo{
       font-size:14px;
       font-weight:250;
      }

    
}

@media (max-width: 225px) {
    .responsiveRegi{
        margin-top: 130px!important;
    }
    .boldTitle{
        font-size: 23px!important;
        font-weight: 300!important;
    }
  
}

@media (max-width: 575px) {
    a {
        margin-top: 0!important;
    }
    .custom-hamburger {
        background-color: white!important;
        border: 1px solid #fff;
        margin-left: 10px;
    }
    .nav{
        position: absolute;
        z-index: 100000;
        margin: 0!important;
        background-color: #1b182e!important;
    }
    .navLink{
        color: rgba(0,0,0,1) !important;
        font-family: Roboto,serif;
        font-size: 15px!important;
        font-weight: 500!important;
        text-decoration: none;
        transition: 0.5s;
        display: flex;
        justify-content: left;
        color:white!important;
        background-color: #413c69!important;
        padding: 5px 0 5px 35px;
    }
    .navLink:hover{
        padding: 5px 0 5px 35px!important;
        background-color: #7168b3!important;
        color:white!important;
    }
    .navLinkScroll{
        color: rgba(0,0,0,1) !important;
        font-family: Roboto,serif;
        font-size: 15px!important;
        font-weight: 500!important;
        text-decoration: none;
        transition: 0.5s;
        display: flex;
        justify-content: left;
        color:white!important;
        background-color: #413c69;
        padding: 5px 0 5px 35px;

    }
    .navLinkScroll:hover{
        padding: 5px 0 5px 35px!important;
        background-color: #7168b3!important;
        color: white!important;
    }
    .ddMenu{
        display: flex!important;
        background-color: #413c69!important;
        border: none!important;
        justify-content: left;
        margin: 0!important;
        padding: 5px 0 5px 35px!important;
    }
    .ddMenu:hover{
        padding: 5px 0 5px 35px!important;
        background-color: #7168b3!important;
        color: white!important;
    }

    .responsiveSubmenu{
        background-color: #1b182e!important;
        margin: 5px 0;
        padding: 5px!important;
    }
    .responsiveSubmenu:hover{
        padding: 5px!important;
        background-color: #7168b3!important;
        color: black;
    }

    .ddBox{
        position: absolute!important;
        left: 150px!important;
        margin: -40px 0 0 0 !important;
        background-color: #1b182e!important;
        transition: 0.5s;
        border: none!important;
        border-radius: 2px!important;
        padding: 0!important;

    }
    .ddBoxScroll{
        position: absolute!important;
        left: 150px!important;
        margin: -40px 0 0 0 !important;
        background-color: #1b182e!important;
        transition: 0.5s;
        border: none!important;
        border-radius: 2px!important;
        padding: 0!important;
    }
      .carouselImg{
        width:100%;
        height:320px;
    }
    
    .deptInfo{
        font-size:16px!important;
        font-weight: 200 !important;
       }
       


    .contactBtn{
         width: 60% !important;
        font-size: 14px!important;
    }
   
    .submitBtn{
        width: 60% !important;
        font-weight:350!important;
    }
    .nextBtn{
        font-weight:350!important;    
    }
    .nextBtn2{
        font-weight:350!important;    
    }
    .backBtn{
        font-weight:350!important;  
    } 
    .StrategyTitleBorder h6{
        font-size: 9px!important;
    }
    .App{
        height:auto!important;
    }
   
}


