.marquee-container {
    width: 100%;
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 10s linear infinite;
    font-family: Montserrat, sans-serif, serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
